{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons BDD{% endblock %}

{% block body %}
    <div class="container">
        <h2>Ajouter un Chaton</h2>
        {{ form(formulaire) }}
    </div>
{% endblock %}
